.content {
  background-color: #fff;
  width: 759px;
  display: inline-block;
  vertical-align: top;

  .options {
    position: relative;
    ul.img-size {
      display: inline-block;
      margin-right: 10px;
      label {
        color: #696b79;
        font-weight: 400;
      }
      li {
        list-style: none;
        display: inline-block;
        cursor: pointer;
        margin: 0 4px -2px;
        width: 19px;
        height: 13px;
        background: url('/assets/search-sprite.d5ab50f1b815dfaf3976c6ce2e19d24670e5ba0b.png') no-repeat transparent;
        &.big {
          background-position: -284px -160px;
          &.selected {
            cursor: default;
            background-position: -284px -180px;
          }
        }
        &.small {
          background-position: -311px -160px;
          &.selected {
            background-position: -311px -180px;
            cursor: default;  
          }
        }
        
      }
    }
    ul.sort {
      display: inline-block;
      position: relative;
      color: #282c3f;
      label {
        margin-left: 5px;
        font-weight: 400;
      }
      label:first-child {
        color: #3e4152;
      }
      li {
        display: inline-block;
        margin-left: 5px;
        text-decoration: none;
        cursor: pointer;
        
      }
      li:after {
        content: ' ';
        display: inline-block;
        height: 11px;
        width: 1px;
        border-left: 1px solid #3e4152;
        margin-left: 5px;
        margin-bottom: -1px;
      }
      label {
        font-weight: 400;
        margin-left: 5px;
        li:first-child {
          margin-left: 0;
        }
        li:after {
          content: none;
        }
      }
    }
    ul.sort:before, ul.sort:after {
      content: "";
      display: table;
    }
  }
  .options:before, .options:after {
    content: "";
    display: table;
  }
}

