<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-between">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/logo.png" alt="Angular Spree">
        </a>
        <div class="btn-group ml-auto" placement="left" dropdown>
          <button dropdownToggle type="button" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li *ngFor="let taxon of taxonList" class="nav-item">
              <a class="nav-link" (click)="selectTaxon(taxon)" href="javascript:void(0)">
                {{taxon.name}}
              </a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li *ngFor="let taxon of taxonList" class="nav-item">
              <a class="nav-link" (click)="selectTaxon(taxon)" href="javascript:void(0)">
                <strong>{{taxon.name}}</strong>
              </a>
            </li>
          </ul>
          <form class="form-inline desktop-query">
            <input placeholder="Search" class="desktop-searchBar">
            <a class="desktop-submit">
              <span class="web-sprite desktop-iconSearch sprites-search"></span>
            </a>
          </form>
          <app-profile-dropdown [totalCartItems]="totalCartItems | async" [isAuthenticated]="isAuthenticated | async"></app-profile-dropdown>
        </div>
      </div>
    </nav>
  </div>
</div>