nav {
  padding: 0.5rem 0;
  min-height: 70px;
  padding: 15px;
  background-color: $theme-myntra-header-background-color;

  .navbar-brand, .navbar-toggler  {
    z-index: 2000;
    padding: 0;
    img {
      height: 46px;
    }
  }

  .navbar-toggler {
    border: none;
    outline: none;
    cursor: pointer;
  }

  .nav-item {
    transition: all 500ms ease-in-out;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 2px solid white;;
    &:hover {
      border-bottom: 3px solid $theme-myntra-subtext-color;
    }
    &.active {
      border-bottom: 2px solid $theme-myntra-text-color;
    }
  }
}