<ul class="nav navbar-nav navbar-right">
  <li class="dropdown h4" dropdown *ngIf="!isAuthenticated">
    <a href="#" class="dropdown-toggle" dropdownToggle>
      <i class="fa fa-user" aria-hidden="true"></i>
    </a>

    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/auth']">Sign Up</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/auth', 'login']">Login</a></li>
    </ul>
  </li>

  <li class="dropdown h4" dropdown *ngIf="isAuthenticated">
    <a href="#" class="dropdown-toggle" dropdownToggle>
      <i class="fa fa-user" aria-hidden="true"></i>
    </a>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="dropdown-item" routerLink="/user">My Profile</a></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="/user/orders">My Orders</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="/user/addresses">Saved Addresses</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Edit Profile</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
    </ul>
  </li>

  <li class="cart h4" [routerLink]="['checkout','cart']">
    <a>
      <i class="fa fa-shopping-bag" aria-hidden="true"></i> Bag
      <span class="badge badge-danger">{{totalCartItems}}</span></a>
  </li>
</ul>